.chat-header {
    font-size: xx-large;
    height: 5vh;
}

.chat-body {
    height: 80vh;
    background-color: lightgrey;
    font-size: large;
    overflow-y: auto;
}

.chat-footer {
    height: 15vh;
}

.chat-footer input{
    font-size: large;

}

.chat-footer button {
    font-size: large;
}